*.zip
/Lista2/zad4/nbproject/private/
/Lista2/zad4/build/
/Lista5/zad1/nbproject/private/
/Lista5/zad1/build/
/Lista5/zad3/nbproject/private/
/Lista5/zad3/build/
/Lista5/zad2/nbproject/private/
/Lista5/zad2/build/
/Lista2/zad2/nbproject/private/
/Lista2/zad2/build/