*.zip
/Lista2/zad4/nbproject/private/
/Lista2/zad4/build/
/Lista5/zad1/nbproject/private/
/Lista5/zad1/build/
/Lista5/zad3/nbproject/private/
/Lista5/zad3/build/
/Lista5/zad2/nbproject/private/
/Lista5/zad2/build/
/Lista2/zad2/nbproject/private/
/Lista2/zad2/build/
/Lista3/zad1/nbproject/private/
/Lista3/zad1/build/
/Lista7/zad1/nbproject/private/
/Lista7/zad1/build/
/Lista7/zad2/nbproject/private/
/Lista7/zad2/build/
/Lista6/zad1/nbproject/private/
/Lista6/zad1/build/
/Lista6/zad2/nbproject/private/
/Lista6/zad2/build/
/Lista6/zad4/nbproject/private/
/Lista6/zad4/build/
/Lista6/zad3/nbproject/private/
/Lista6/zad3/build/
/Lista3/zad2/nbproject/private/
/Lista3/zad2/build/
/Lista3/zad3/nbproject/private/
/Lista3/zad3/build/
/Lista3/zad4/nbproject/private/
/Lista8/zad1/nbproject/private/
/Lista8/zad1/build/
/Lista8/zad2/nbproject/private/
/Lista8/zad4/nbproject/private/
/Lista8/zad4/build/
/Lista8/zad5/nbproject/private/
/Lista8/zad5/build/
/Lista8/zad2/build/
/Lista8/zad3/nbproject/private/
/Lista8/zad3/build/